<p id="notice"><%= notice %></p>

<ul class="participantsList">
  <% @participants.each do |participant| %>
    <li>
      <div class="handle">
        <a href="https://twitter.com/<%= participant.twitterHandle %>" target="_blank">@<%= participant.twitterHandle %></a>
      </div>
      <div class="menu">
        <%= link_to 'Show', participant %>
        <%= link_to 'Edit', edit_participant_path(participant) %>
        <%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'New Participant', new_participant_path %>
